<p id="notice"><%= notice %></p>

<p style="border: 2px solid black;font-size :20px;"> 
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p style="border: 2px solid black;font-size :20px;">
  <strong>Description:</strong>
  <%= @post.description %>
</p>





<% (0...@post.images.count).each do |image| %>
  <%= image_tag(@post.thumbnail(image)) %>
  <% end %>

  <p style="font-size :25px;"><%= social_share_button_tag(@post.title) %></p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> |
<%= link_to 'Back', posts_path, class: "btn btn-danger" %>
</div>
